$font_title: "Karla", sans-serif;
$font_text: "Karla", sans-serif;
$blue: #5985ff;
$yellow: #e4bd38;
$white: #fffefe;
$black: #1f1e1a;
$grey: #565656;
$white-grey: #cecece;
$light-grey: #b8b3b3;
